@model IEnumerable<ProyectoParcial.Models.Contribuyente>

@{
    ViewData["Title"] = "Lista de Contribuyentes";
}

<h1>Lista de Contribuyentes</h1>
<p>
    <a asp-action="CreateContribuyente">Cargar contribuyente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.CondIVA)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Cuit)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Domicilio)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Email)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.CondVenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contribuyente in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => contribuyente.CondIVA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => contribuyente.Cuit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => contribuyente.RazonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => contribuyente.Domicilio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => contribuyente.Email)
                </td>
                <td>
                    @string.Join(", ", contribuyente.SelectedCondVenta)
                    
                </td>
            </tr>
        }
    </tbody>
</table>